<a href="https://colab.research.google.com/github/Jenn035/SIM_YAC_GUALE_UPSE/blob/main/avanceejerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hola mundo

mi primer ejercicio

In [ ]:
2+2

4

In [ ]:
import math 
math.sin(1)

0.8414709848078965

In [ ]:
def sum(a,b):
  return a+b

In [ ]:
sum(2,1)

3

In [ ]:
def sumen(a,b,c):
  return a+b-c-100

In [ ]:
sumen(10,2,5)

-93

In [ ]:
f = lambda x: x+2

In [ ]:
f(5)

7

In [ ]:
g = lambda x,y: x + y

In [ ]:
g(2,4)

6

In [ ]:
z = lambda x,y : x*y

In [ ]:
z(5,7)

35

In [ ]:
math.sin(45)

0.8509035245341184

In [ ]:
import math 
math.tan(90)

-1.995200412208242

CREAR ECUACION

In [ ]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
#definimos las siguiente variables para la ecuaci√≥n de difusividad en modelo numerico
#t=Delta tiempo
t=[10]
#numero de nodos
n=[5]
#distancia total del yacimiento
e=[1000]
p=[0,4000,4000,4000,4000,0] #presion
tf=[360]
tiempo=[0]

In [ ]:
#delta x, ancho de cada intervalo
x = lambda n,e : e/n

In [ ]:
x (5,1000)

200.0

In [ ]:
columnas=['Celda1','Celda2','Celda 3','Celda4']
presiones=pd.DataFrame(columns=columnas)
presiones.loc[0]=p[1:-1]

In [ ]:
presiones.head()

   Celda1  Celda2  Celda 3  Celda4
0    4000    4000     4000    4000

In [ ]:
p1=p

In [ ]:
for t in range(t,tf+1,t):
    tiempo.append(ts)
    for i in range(1,len(p)-1)
        p1[i]=(p[i-1]-2*p(i)+p[i+1])/dx**2*ts+p(i)

SyntaxError: ignored